body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
ul {
  list-style-type: none;
}

header {
  background: url('../images/the-flatiron-building.png');
}
header h1 {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
}
header p a {
  color: #fff;
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}

.design-section {
  background: url('../images/the-flatiron-building.png');
}
.design-section h3 {
  color: #fff;
}


footer {
  background: dimgray;
  text-align: left;
}
footer span {
  font-size: 11px;
  color: #fff;
}
footer a {
  color: #fff;
}
